<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Panelel Inwestora - Strona domowa</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<center>
		<fieldset>
		<p id="options">
			<a href="logout">
				<button>
					Wyloguj
				</button>
			</a>
		</p>
		</fieldset>
		<br>

		<h1>Panel Inwstora</h1>
		<h2>Witaj Administratorze</h2>
		<ul>
			<li><a href="/">Strona domowa</a></li>
			<li><a class="active" href="manage">Zarzadzaj</a></li>
		</ul>

		<br>
		<br>

		<div >
			<table border="1" cellpadding="10">
				<tr>
					<th>id</th>
					<th>email</th>
					<th>role</th>
					<th>Nadaj uprawnienia</th>
					<th>Usun</th>
				</tr>
				<tr th:each="user: ${allUsers}" th:object="${user}">
					<td th:text="*{id}"></td>
					<td th:text="*{emailAddress}"></td>

					<td th:text="*{roles}"></td>
					<td><a th:href="@{/addAdminRole/} + ${user.id}">Nadaj
							uprawnienia adminstratora</a></td>
					<td><a th:href="@{/deleteUser/} + ${user.id}">Usun</a></td>
				</tr>
			</table>
		</div>


		<!--  	<div>
			<table border="1">
				<tr th:each="user : ${allUsers}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.emailAddress}"></td>
					<td th:text="${user.password}"></td>
					<td>
						<form th:action="@{/deleteUser}" method="post" th:object="${user}">
							<input type="hidden" th:field="${user.id}" />
							<button type="submit" value="Submit" class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
			</table>
		</div> -->
	</center>
</body>
</html>