<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Panelel Inwestora - Strona domowa</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<center>
	<h1>Panel Inwestora</h1>
	<h2>Coś poszło nie tak... :(</h2>
	<ul>
		<li><a href="/">Strona domowa</a></li>
<!--		<li><a href="login">Zaloguj</a></li>-->
<!--		<li><a href="registration"> Rejestracja</a></li>-->
	</ul>

<br>
<br>

<h2>Zabłądziłeś!!!</h2>
<br>
<a href="/">
	<button>
		Wróć do strony głównej
	</button>
</a>

</center>
</body>
</html>