<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Panelel Inwestora - Strona domowa</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<center>
		<h1>Panel</h1>
		<h2>Index</h2>
		<ul>
			<li><a class="active" href="/">Strona domowa</a></li>
			<li><a href="login">Zaloguj</a></li>
			<li><a href="registration"> Rejestracja</a></li>
			<li><a href="User/userPanel">Panel klienta</a></li>
			<li><a href="kontakt">Kontakt</a></li>
		</ul>
	</center>
	<br><br>
	<a href="#" th:href="@{forUser}"> USER</a>
	<br><br>
	<a href="#" th:href="@{forAdmin}"> ADMIN</a>

</body>
</html>