<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Panelel Inwestora - Strona domowa</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<center>
		<h1>Panel</h1>
		<h2>Rejestracja uzytkownika</h2>
		<ul>
			<li><a  href="/">Strona domowa</a></li>
			<li><a class="active" href="login">Zaloguj</a></li>
			<li><a  href="registration"> Rejestracja</a></li>
			<li><a href="userPanel">Panel klienta</a></li>
			<li><a href="kontakt">Kontakt</a></li>
			
		</ul>
		<br>
	<form action="login" th:action="@{/login}" method="post"><br>
		<fieldset>
		<div th:if="${param.error}" class="alert alert-success">
			Niepoprawny login lub hasło.
		</div>
		<div th:if="${param.logout}" class="alert alert-success">
			Wylogowano.
		</div>
        <input name="username" placeholder="Username" /> <br /><br>
        <input name="password" placeholder="Password" /> <br /><br>
        <input type="submit" value="Login" />
        </fieldset>
    </form>
	</center>
</body>
</html>