<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Panelel Inwestora: raport</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<center>
		<fieldset>
			<p id="options">
				<a href="logout">
					<button>
						Wyloguj
					</button>
				</a>
			</p>
		</fieldset>
		<br>

		<h1>Panel Inwestora</h1>
		<h2>Raport</h2>
		<ul>
			<li><a href="/">Strona domowa</a></li>

			<li><a href="/manage">Zarzadzaj</a></li>

		</ul>


		<table border="1" cellpadding="10">
			
			<tr>
				<td>Nazwa</td>
				<td th:text="${property.name}"></td>
			</tr>
			<tr>
				<td>Adres</td>
				<td th:text="${property.address}"></td>
			</tr>
			<tr>
				<td>Powierzchnia w m^2</td>
				<td th:text="${property.area}"></td>
			</tr>
			<tr>
				<td>Całkowity koszt zakupu w zł:</td>
				<td th:text="${generalCosts}" > </td>
			</tr>
			<tr>
				<td>Koszt za 1 m^2 w zł:</td>
				<td th:text="${costPerMeter}"> </td>
			</tr>
			<tr>
				<td>Miesięczny zysk w zł:</td>
				<td th:text="${monthlyProfit}"></td>
			</tr>
			<tr>
				<td>Roczna stopa zwrotu w %:</td>
				<td th:text="${returnRatePerYear}"> </td>
			</tr>


		</table>


		<a href="/manage">
			<button>
				Wróć do zarządania
			</button>
		</a>

	</center>
</body>
</html>