<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Panelel Inwestora - Strona domowa</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<center>
		<h1>Panel</h1>
		<h2>Panel klienta</h2>
		<ul>
			<li><a href="/">Strona domowa</a></li>
			<li><a href="login">Zaloguj</a></li>
			<li><a href="registration"> Rejestracja</a></li>
			<li><a href="manage">Zarzadzaj</a></li>
			<li><a href="kontakt">Kontakt</a></li>
			<li><a href="logout">Wyloguj</a></li>
		</ul>

		<br> <br> <a href="#" th:href="@{propertyForm}"> Dodaj
			nieruchomość</a> <br> <br>

		<table border="1">
			<tr>
				<th>id</th>
				<th>email</th>
				<th>pass</th>
				<th>role</th>
			</tr>
			<tr th:object="${user}">
				<td th:text="*{id}"></td>
				<td th:text="*{emailAddress}"></td>
				<td th:text="*{password}"></td>
				<td th:text="*{roles}"></td>
			</tr>
		</table>

		<br> <br>
		<div tf:if="not ${allUserProperty.isEmpty()}">
			<table border="1" cellpadding="10">
				<tr>
					<th>id</th>
					<th>name</th>
					<th>city</th>
					<th>address</th>
					<th>bedrooms</th>
					<th>bathrooms</th>
					<th>Edytuj</th>
					<th>Usun</th>
				</tr>
				<tr th:each="property: ${allUserProperties}" th:object="${property}">
					<td th:text="*{id}"></td>
					<td th:text="*{name}"></td>
					<td th:text="*{city}"></td>
					<td th:text="*{address}"></td>
					<td th:text="*{bedrooms}"></td>
					<td th:text="*{bathrooms}"></td>
					<td><a th:href="@{editProperty/} + ${property.id}">Edytuj</a></td>
					<td><a th:href="@{/deleteProperty/} + ${property.id}">Usun</a></td>
			 	</tr>
			</table>
		</div>
		

		<br> <br>

	

	</center>
</body>
</html>